:root {
    --primary-title-color: #212121;
    --secondary-title-color: #FFFFFF;
    --third-title-color: #757575;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #2196F3;
    --focus-color: #2196F3;
}


body {
    font-family: 'Roboto', sans-serif;
   letter-spacing: 0.03em;
}
  




/*------Logo--------*/



.header-logo {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3
}

.hd-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-title-color)

}











.link {
    text-decoration: none;
}

.list {
    list-style: none;
}



.header-link {

    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--primary-title-color)
}


.header-contacts {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--third-title-color)
}

.header-link:hover,
.header-link:focus {
    color: var(--focus-color)
}

.btn {
 
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
border: none;
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: var(--secondary-title-color)
}


.about-title {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--primary-text-color)
}

.about-explaination {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color)
}

.responsible-title {
    font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-title-color)
}

.teammate {
    background-color: #F5F4FA;;
}

.team-title {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background-color: var(--secondary-title-color);

}

.team-text {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
background-color: var(--secondary-title-color);
}

.footer {
    background: #2F303A;
}


.footer-logo {
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3
}

.ft-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color)

}

.footer-map {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-title-color)
}

.footer-item {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}


.footer-map:hover,
.footer-map:focus {
    color: var(--focus-color)
}


/*------portfolio.html-----*/

.portfolio-item {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: #F5F4FA;
border: none;
}


.portfolio-item:focus, 
.portfolio-item:hover {
   background-color: #2196F3;
   color: var(--secondary-title-color)
    }

    .examples-title {
        font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--primary-text-color);
    }


.examples-text {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
